.about {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    scroll-margin-top: 20rem;
}
.about .about_left {
    max-width: 40rem;
    flex: 1;
}

.about .about_left p {
    margin: 1re 0 2rem;
}

.about .about_left ul{
    margin-left: -1.2rem;
}

.about .about_left ul li{
    display: inline-block;
}
.about .about_left ul li a{
    display: grid;
    padding: 1rem;
}

.about .about_right {
    flex: 1;
    max-width: 66rem;
}



@media only screen and (max-width: 750px) {
    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about .about_left ul li{
        font-size: smaller;
        display: inline-flex;
        margin-left: 1rem;
    }
    .about .about_left {
        text-align: center;
        margin-left: 1rem;
    }

    .about .about_right p{
        margin: 2rem auto 4 rem;
    
    }
}