.skills {
    background-color: var(--dark-blue);
    scroll-margin-top: 15rem;
}

.skills .skills_content {
    padding: 6rem 4rem;
    text-align: center;
}

.skills .skills_content .description{
    max-width: 56rem;
    margin: 0 auto 6rem;
}

.skills .skills_content ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
}

.skills .skills_content ul li .image-container{
    background-color: #db2727;
    padding: 3rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.skills .skills_content ul li h3{
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0 1rem;
}